
<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.w3.org/1999/html"
	xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
  <title>Mystic Learners</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="./css/style.css">
  <style>
	  .headings{
		  font-size: 50pt;
		  text-shadow: none;
	  }
	  .tagline{
		  font-size: 15pt;
    	  font-family: 'GFS Didot', serif;
	  }
  </style>
 </head>
<body>

 <th:block th:insert="/header"></th:block>
  <div class="container-fluid our-courses">
  <h3 class="text-center headings ">Our Courses</h3>
  <div class="text-center tagline">Get Your learnings Started Today!!</div>
  </div>
 <div class="container ">    
	
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-4 " th:each="i : ${#numbers.sequence(1, 12)}">
		<div class="course-grid"> 
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive course-thumb" style="width:100%" alt="Image">
        <div class="row">
		  <div class="col-sm-8">  <h3 class="text-left">Course <span th:text="${i}">Name</span></h3></div>
		   <div class="col-sm-4"><h3 class="text-right">&#8377; 19,999</h3> </div>
	  </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mi tellus, pulvinar vel tempus eget, finibus vitae ante. Fusce sit amet velit eleifend, iaculis velit quis, malesuada lacus. Vestibulum sodales magna a volutpat tempus. Mauris vestibulum id urna viverra ultrices. Nullam rhoncus elit eget libero varius dapibus.</p>    
		</div>
    </div>
  </div>
 </div>

<th:block th:insert="/footer"></th:block>
</body>
</html>