
<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.w3.org/1999/html"
	xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
  <title>Mystic Learners</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../css/style.css">
  <style>
	  .container{
		  height: 80vh;
		  margin-top: 110px;
		    font-family: 'GFS Didot', serif;
		    font-size: 30pt;
	  }
  </style>
 </head>
<body>

 <th:block th:insert="/header"></th:block>
  
 <div class="container ">    

  <h1>Course not found</h1>

 </div>

<th:block th:insert="/footer"></th:block>
</body>
</html>