<footer class="container-fluid text-center footer">
<div class="row text-left">
	<div class="col-md-4 text-left">
		<h4>Mystic Learners</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mi tellus, pulvinar vel tempus eget, finibus vitae ante. </p>
	</div>
	<div class="col-md-4 "><h4>Contact us</h4>
		<p>202 Helga Springs Rd, Crawford, TN 38554</p>
		<p>Call Us: 800.275.8777</p>
		<p>alex@company.com</p>


	
   </div>
	<div class="col-md-4">
		<h4>Connect On</h4>
		<img class="social-icons"  th:src="@{/Images/facebook.png}"  alt="facebook">
		<img class="social-icons"  th:src="@{/Images/twitter.png}" alt="twitter">
		<img class="social-icons"  th:src="@{/Images/instagram.png}" alt="instagram">
		<img class="social-icons" th:src="@{/Images/youtube.png}" alt="youtube">
	</div>
</div>
<div class="text-center" style="margin-top: 10px;">Copyright ©2024 Mystic Learners. All rights reserved.</div>
</footer>