<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid nav-container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand1" href="#"><img class="logo-img" th:src="@{/Images/astro-logo.png}"><span class="brand-name"> Mystic Learner<span></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li ><a href="#" class="nav-link">Home</a></li>
        <li ><a href="#" class="nav-link">Courses</a></li>
        <li ><a href="#" class="nav-link">About Us</a></li>
        
        <li ><a href="#" class="nav-link">Shopping</a></li>
        <li ><a href="#" class="nav-link"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>